{% extends 'header.html' %}

{% block content %}

<div class="container">
	<center>
		<h1><Strong>CURRENT SEMESTER GPA</Strong></h1>
	</center>
	<br>
		
	<h3>Here you have two options,<h3>
	<h4><Strong>"Sign in" </Strong>For the students of University of Moratuwa</h4>
	<h4><Strong>"Manual"  </Strong>For the other undergraduates (Not functioning yet)</h4>
		
</div>


<div class="buttons">
	<a class="twitter" href="/calc/signin/">
		<img src="/static/img/calc/key.png">
		<p><strong>Sign In</strong></p>
	</a>

	<a class="dribble" href="/calc/manual/">
		<img src="/static/img/calc/manual.png">
		<p><strong>Manual</strong></p>
	</a>
</div>

{% endblock %}