{% extends 'calc/template_signin.html' %}

{% block msg %}

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="container">
	<div class="fb-like alignright" data-href="https://akiladperera.herokuapp.com/calc/signin/" data-width="200" data-layout="button_count" data-action="like" data-size="large" data-show-faces="false" data-share="true"></div>
</div>

<h3>If you want to try Overall GPA calculating service use the following link. <strong>Note: Still not having proper CSS</strong></h3>
<p>http://akiladperera.herokuapp.com/gpa/auto/</p>

{% endblock %}
