{% extends 'header.html' %}

{% block content %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="container">
	<div class="fb-like alignright" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
	<!--<div class="fb-share-button alignright" data-href="https://akiladperera.herokuapp.com/calc/signin/" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fakiladperera.herokuapp.com%2Fcalc%2Fsignin%2F&amp;src=sdkpreparse">Share</a></div>-->
	
	<h2>Performance of {{semester}}</h2>
	<h3>{{name}} | {{index}}</h3>
	
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Module Code</th>
				<th>Module Name</th>
				<th>Credits</th>
				<th>Grade earned</th>
			</tr>
		</thead>
	
		<tbody>
			{% for module in modules %}
				<tr>
					<td>{{module.code}}</td>
					<td>{{module.name}}</td>
					<td>{{module.credit}}</td>
					<td>{{module.gradeEarned}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	
	<div class="container">
		<center>
			<h2><strong>Current GPA :</strong></h2>
			<h1>{{GPA}}</h1>
		</center>
	</div>
	<br>
</div>

<div class="container">
	<button type="button" class="btn btn-default btn-lg alignleft" onClick="history.go(-1);return true;">  BACK  </button>
	<a href="/" class="btn btn-default btn-lg alignright" type="button">  HOME  </a>
</div>

{% endblock %}
