<html>
<head>
	<title>Akila D. Perera</title>

	{% load staticfiles %}
	
	<meta charset="UTF-8">
	
	<meta property="og:url" content="https://akiladperera.herokuapp.com/calc/signin/" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="GPA CALC" />
	<meta property="og:description" content="Current GPA calculator for UoM students. Developped by Akila D. Perera, CSE 14th batch" />
	<meta property="og:image" content="https://akiladperera.herokuapp.com/static/img/icon.png">
	
	<meta name="description" content="Personal Blog">
	<meta name="keywords" content="Akila, Professional, Python, Django, University, UoM">
	<meta name="author" content="Akila D. Perera">
	
	
	<link rel="icon" href="{% static 'img/icon.png' %}">
	
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type = "text/css"/>
	<link rel="stylesheet" href="{% static 'css/footer-distributed.css' %}" type = "text/css"/>
	<link rel="stylesheet" href="{% static 'css/header-basic.css' %}" type = "text/css"/>
	<link rel="stylesheet" href="{% static 'css/btnCalc.css' %}" type = "text/css"/>
	<link rel="stylesheet" href="{% static 'css/bootstrap-select.css' %}" type = "text/css"/>
	
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/bootstrap-select.min.js' %}"></script>
	<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>

	
</head>

<body>

	<header class="header-basic">
	<div class="header-limiter">
		<h1><a href="/personal/"><span>  Akila D. Perera</span></a></h1>
		<nav>
			<a href="/">Home</a>
			<!--
			|
			<a href="/personal/">Personal Info</a>
			-->
			|
			<a href="/professional/">Professional Info</a>
			|
			<a href="/projects/">Projects</a>
			|
			<a href="/calc/">GPA Calculater</a>
			|
			<a href="/contact/">Contact</a>
		</nav>
	</div>
	</header>
	<hr>
	
	
	{% block content %}
	{% endblock %}
	
	
	<hr>
	<footer class="footer-distributed">
		<div class="footer-left">
			<p class="footer-links">
				<a href="/">Home</a>
				<!--
				·
				<a href="/personal/">Personal Info</a>
				-->
				·
				<a href="/professional/">Professional Info</a>
				·
				<a href="/projects/">Projects</a>
				·
				<a href="/calc/">GPA Calculater</a>
				·
				<a href="/contact/">Contact</a>
			</p>

			<p>Non-Commercial website: 12/08/2016</p>
		</div>

	</footer>
	
</body>

</html>