<html>
<head>
	<title>GPA Calculator - Akila D. Perera</title>

	{% load staticfiles %}

	<meta charset="UTF-8">

    <meta name="keywords" content="GPA,calculator,Akila,Akila D. Perera,Akila D Perera,UoM,moratuwa">

	<meta name="description" content="Overall GPA calculator for UoM students. 
	Developped by Akila D. Perera, CSE 14th batch">

	<meta name="author" content="Akila D Perera">

	<meta property="og:url" content="https://akiladperera.alwaysdata.net/calc/auto/" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="GPA Calculator - Akila D. Perera"/>
	<meta property="og:description" content="Overall GPA calculator for UoM students. Developped by Akila D. Perera, CSE 14th batch" />
	<meta property="og:image" content="https://akiladperera.alwaysdata.net/static/img/icon.png">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="icon" href="{% static 'img/icon.png' %}">
	
	<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/header.js' %}"></script>
	<script src="{% static 'prof/js/modernizr.js' %}"></script>
	
	<link rel="stylesheet" href="{% static 'css/preloading.css' %}" type = "text/css"/>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type = "text/css"/>
	<link rel="stylesheet" href="{% static 'css/header.css' %}" type = "text/css"/>
	<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}" type = "text/css"/>
	
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125629898-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-125629898-1');
	</script>
	
	<script>
		$(window).load(function() {
			// Animate loader off screen
			$(".se-pre-con").fadeOut("slow");;
		});
	</script>

	{% block headImports %}
	{% endblock %}
</head>

<body>
	<div class="se-pre-con"></div>
	<header class="header">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid" style="background-color: rgb(0, 0, 0);">
		  		<div class="navbar-header">
		      		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>                        
		      		</button>
		      		<a class="navbar-brand">Akila D. Perera</a>
		    	</div>
		    	<div class="collapse navbar-collapse" id="myNavbar">
		      		<ul class="nav navbar-nav">
		        		<li id="home" class="normal"><a href="/">Home</a></li>
		        		<li id="gpa_auto" class="normal"><a href="/gpa/auto/">GPA Calculator</a></li>
		      		</ul>
		      		<ul class="nav navbar-nav navbar-right">
		        		<li><a id="user" href="/gpa/auto/"></a></li>
		        		<li><a id="login" href="/gpa/auto/sign_out/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
		      		</ul>
		      		<script>
						setActive();
						setLogin();
					</script>
		    	</div>
		  	</div>
		</nav>
	</header>
	
	{% block content %}
	{% endblock %}
	
	<footer>
		<div class="container">
	    	<div class="row">
	    		<div class="col-md-7 col-sm-8 col-xs-12">
		      		<div class="col-md-6 col-sm-7 col-xs-12 footerleft ">
		        		<div class="logofooter"><img src="{% static 'img/icon.png' %}"></div>
		      		</div>
		      		
		      		<div class="col-md-6 col-sm-5 col-xs-12 footerleft">
						<p>This is a personal website. Feel free to inform me what you think about the site and what needs to be added. And also let me know any bugs you may come across.</p>
		        		<p><i class="fa fa-map-pin"></i>First lane, Siddamulla, Piliyandala, Srilanka</p>
		        		<p><i class="fa fa-phone"></i>+94 71 6360198</p>
		        		<p><i class="fa fa-envelope"></i>akilamatrix@gmail.com</p>
		      		</div>
		      	</div>
		      	
		      	<div class="col-md-5 col-sm-4 col-xs-12">
		      		<div class="col-md-6 col-sm-6 col-xs-12 paddingtop-bottom">
		        		<h6 class="heading7">GENERAL LINKS</h6>
		        		<ul class="footer-ul">
		          			<li><a href="https://online.mrt.ac.lk/login/index.php"> Moodle</a></li>
		          			<li><a href="https://lms.mrt.ac.lk/login_index.php"> LMS</a></li>
		          			<li><a href="http://www.mrt.ac.lk/web/"> UoM</a></li>
		        		</ul>
		      		</div>
	      		
		      		<div class="col-md-6 col-sm-6 col-xs-12 paddingtop-bottom">
		        		<div>
		          			<div>
		            			<blockquote cite="https://www.facebook.com/akila.d.perera.1"><a href="https://www.facebook.com/akila.d.perera.1"><i class="fa fa-facebook-official" style="font-size:24px;"></i> Facebook</a></blockquote>
		          			</div>
		        		</div>
		        		<div>
		          			<div>
		            			<blockquote cite="https://www.linkedin.com/in/akiladperera/"><a href="https://www.linkedin.com/in/akiladperera/"><i class="fa fa-linkedin-square" style="font-size:24px"></i> LinkedIn</a></blockquote>
		          			</div>
		        		</div>
		      		</div>
		      	</div>
	    	</div>
	  	</div>
	</footer>
	
	<div class="copyright">
		<div class="container">
	    	<div class="col-md-6">
	      		<p>© 2017 - All RIGHTS RESERVED</p>
	    	</div>
	    	
	    	<div class="col-md-6">
	      		<ul class="bottom_ul">
					<li id="home" class="normal"><a href="/">Home</a></li>
					<li id="gpa_auto" class="normal"><a href="/gpa/auto/">GPA Calculator</a></li>
	      		</ul>
	    	</div>
	  	</div>
	</div>
	
</body>

</html>