{% extends 'gpa/tsignin.html' %}

{% block auto %}

<div class="{{class}}">
	<strong>{{tag}}</strong> {{message}}
</div>
	<div class="alert alert-danger">
	<strong>Hey, Thanks for using my app. Unfortunately, my postgreSQL DB is not responding anymore. While trying to fix the issue, I mistakenly dropped the tables. I am sorry for the inconveniences that you may have to face due to this. I will try to come back with a new application which is more reliable soon. Thanks again.</strong>
	</div>

{% endblock %}
