{% extends 'header.html' %}

{% block headImports %}
	
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'gpa/css/changegrades.css' %}" type = "text/css"/>
	
	<script  type="text/javascript" src="{% static 'gpa/js/sgpa.js' %}"></script>
	
	
{% endblock %}



{% block content %}

<div class="inner-body">
	<div class="subject">
		<h2>Registered Modules in {{semester}}</h2>
		<h3>{{petname}} | {{index}}</h3>
	</div>
	
	<form action="../../profile2/" method="post">
		{% csrf_token %}
		
		<input type="hidden" name="sem" value="{{semester}}" />
		
		<div class="table">
			<table>
				<thead>
					<tr>
						<th>Module Code</th>
						<th>Module Name</th>
						<th>Credits</th>
						<th>Grade earned</th>
					</tr>
				</thead>
			
				<tbody>
					{% for module in modules_grades|sort %}
						<tr>
							<td>{{module.2}}</td>
							<td>{{module.1}}</td>
							<td name="cred">{{module.3}}</td>
							<td>
								<select name={{module.2}} onchange="SGPA();">
									{% for grade in grades %}
										{% if grade == module.4 %}
											<option selected="selected" value="{{grade}}">{{grade}}</option>
										{% else %}
											<option value="{{grade}}">{{grade}}</option>
										{% endif %}
									{% endfor %}
								</select>	  
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<br>
			<div class="backdone"> 
				<input type="button" onClick="history.go(-1);return true;" value="GO BACK WITHOUT SAVING"/>
				<input type="submit" value="SAVE"/>
			</div>
		</div>	
	</form>
	<br>
	<div style="border:solid 1px;">
		<h1 id="output" style="text-align:center;">CURRENT SGPA {{sem_gpa|get_item:semester}}</h1>
	</div>
	
</div>


{% endblock %}
