{% extends 'header.html' %}

{% block headImports %}
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'gpa/css/profile.css' %}" type = "text/css"/>
	<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>

	<script>
		function collapse(id){
			var table = document.getElementById(id);
			if (table.style.display=='block'){
				table.style.display='None';
			}else{
				table.style.display='block';
			}
		}
    </script>
	
	
	
{% endblock %}

{% block content %}

<div class="heading">
	<div class="left">
		<div style="text-align: center; margin-top: 5vh">
			<h1>PROFILE OF {{petName}} | {{index}}</h1>
			<!--<span>{{realName}}</span>-->
		</div>
	</div>
	
	<div class="right">
		<table>
			<tr>
				<td>Overall GPA: {{overallGPA}}</td>
				<td>&Sigma;(GPA_point x credits) / &Sigma;credits</td>
			</tr>
			<tr>
				<td>Overall GPA: {{SOGPA}}</td>
				<td>&Sigma;SGPA / no_of_semesters</td>
			</tr>
		</table>
	</div>
</div>

<div class="rest-heading">
	<div>
		<form action="/gpa/auto/profile/chageGrades/" method="post">
			{% csrf_token %}
			
			{% for semester in sem_list %}
				
				<div class="semPerformance">
					<input type="button" onclick="collapse('{{semester}}');"></input>
					<h3>{{semester}} |</h3>
					<h4>SGPA : </h4>
					<h4 name="GPA">{{sem_gpa|get_item:semester}}</h4>
				</div>
				
				<div class="table" id="{{semester}}" style="display:block;">
					<table class="status">
						<thead>
							<tr>
								<th>Module Code</th>
								<th>Module Name</th>
								<th>Credits</th>
								<th>Grade earned</th>
							</tr>
						</thead>
						
						<tbody>
							{% for module in sem_grades_modules|get_item:semester|sort %}
							<tr>
								<td>{{module.2}}</td>
								<td>{{module.1}}</td>
								<td>{{module.3}}</td>
								<td>{{module.4}}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					<button style="margin-left:58%; width:22%; margin-top:5px;" value="{{semester}}" name="edit">Edit {{semester}} Grades</button>
				</div>

				<hr>
			{% endfor %}
		</form>
	</div>
	
	<!--<div class="container">
		{% csrf_token %}
		<form>
			<label for="name">Your Name</label>
			<input type='text' id='name' name='nickname' pattern="^\S+.*" required/>
			
			<label for='comment'>Comment</label>
			<input type="textfield" id='comment' name='comment' pattern="^\S+.*" required/>
			
			<input id="submit" type='submit' value="submit"/>
		</form>	
		
		<div class="container">
			{% for feedback in post %}
			<p><strong>Date : </strong>{{ feedback.date | date:"Y-m-d" }}</p>
			<p><strong>Name : </strong>{{ feedback.name }}</p>
			<p><strong>Comment : </strong>{{ feedback.text }}</p>
			<br>
			{% endfor %}
		</div>

	</div>-->

</div>

<script>	
	$("#submit").click(function(e) {
		e.preventDefault();

		$.ajax({
			type : "POST",
			url : "/gpa/auto/profile/feedback/",
			data : {csrfmiddlewaretoken : document.getElementsByName('csrfmiddlewaretoken')[0].value, name : document.getElementById('name').value, message : document.getElementById('comment').value}, // data sent with the post request

			success : function(response) {
				document.getElementById('submit').disabled = true;
				var name = document.getElementById('name');
				var comment = document.getElementById('comment');
				name.disabled = true;
				comment.disabled = true;
			}
		});
	});
</script>



{% endblock %}

