{% extends 'header.html' %}

{% block content %}


<H1>Overall GPA: {{overallGPA}}</H1>
<div>
	<form action="/gpa/auto/profile/chageGrades/" method="post">
		{% csrf_token %}
		
		{% for semester in sem_list %}
		
			<h2>{{semester}}</h2>
			<h3>SGPA : {{sem_gpa|get_item:semester}}</h3>
			
			<table>
				<thead>
					<tr>
						<th>Module Code</th>
						<th>Module Name</th>
						<th>Credits</th>
						<th>Grade earned</th>
					</tr>
				</thead>
				
				<tbody>
					{% for module in sem_grades_modules|get_item:semester|sort %}
					<tr>
						<td>{{module.2}}</td>
						<td>{{module.1}}</td>
						<td>{{module.3}}</td>
						<td>{{module.4}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		
			<button value="{{semester}}" name="edit">Edit {{semester}} grades</button>
			
		{% endfor %}
	</form>
</div>


{% endblock %}
