{% extends 'header.html' %}

{% block headImports %}
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'gpa/css/profile.css' %}" type = "text/css"/>
	<script src="{% static 'gpa/js/profile.js' %}"></script>
{% endblock %}

{% block content %}
<div class=inner-body style="border: solid;">
	<div class="panel panel-default" style="display:border;">
		<div class="panel-body">
			<div style="display:inline-block;">
				<h4 style="display:inline-block; line-height: 20px;">Number of times visited <span class="label label-default">{{profile.count}}</span></h4>
				<h4 style="display:inline-block; line-height: 30px;">Last logged <span class="label label-default">{{last_viewed}}</span></h4>
			</div>
			<div class="alert alert-success alert-dismissable fade in" style="display: block;" id="admin_msg_div">
			  	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			  	<strong>Thank you {{profile.user.first_name}}!</strong> <p>{{profile.admin_msg}}</p>
			</div>
			<script>setAdminMsg("{{profile.is_msg_showed}}");</script>
		</div>
	</div>
	
	<div class="panel panel-default">
	  	<div class="panel-heading"><h4>Profile</h4></div>
	  	<div class="panel-body">
	  		<div class="panel panel-default">
				<div class="panel-body" style="display:inline-block;">
					<h5 style="display:inline-block;"><span class="glyphicon glyphicon-user"></span> {{profile.fullName}}</h5>
					<br>
					<h5 style="display:inline-block;"><span class="glyphicon glyphicon-tag"></span> {{profile.user.username}}</h5>
				</div>
				
				<div class="panel-body" style="display:inline-block; padding-bottom: 0px; padding-top: 0px; height: 110px;">
					<div class="panel panel-default">
					  <div class="panel-heading">Overall GPA (UoM accepted way)</div>
					  <div class="panel-body" style="font-weight: bold;">{{correctGPA}}</div>
					</div>
				</div>
				
				<div class="panel-body" style="display:inline-block; padding-bottom: 0px; padding-top: 0px; height: 110px;">
					<div class="panel panel-default">
					  <div class="panel-heading">Overall GPA (Actual)</div>
					  <div class="panel-body" style="font-weight: bold;">{{actualGPA}}</div>
					</div>
				</div>
				
				<div class="panel-body" style="display:inline-block; padding-bottom: 0px; padding-top: 0px; height: 110px;">
					<div class="panel panel-default">
					 	<div class="panel-heading">Class</div>
					 	<div class="panel-body" style="font-weight: bold;">{{className}}</div>
					</div>
			  	</div>
			  	<div id="imgComp" class="panel-body" style="display:inline-block; padding-bottom: 0px; padding-top: 0px; height: 110px; vertical-align: top;">
			  		<img src="/static/gpa/img/{{class_no}}.png" class="img-rounded" alt="Cinque Terre" width="100" height="100">
			  	</div>
			  	<script>setImage("{{className}}");</script>
			</div>
	  	</div>
	</div>
	
	<div class="panel panel-default">
	  	<div class="panel-heading"><h4>Status</h4></div>
	  	
	  	<div class="panel-body col-lg-10 col-lg-offset-1 col-sm-10 col-sm-offset-1">
	  	<input id="token" type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token }}' />
	  		{% for semester in semList %}
		  		<div class="panel panel-default">
				    <div class="panel-heading" style="cursor: pointer;" data-toggle="collapse" data-parent="#accordion" href="#{{semester.id}}">
				        <h4 class="panel-title">
				    		<span id="Arrow{{semester.id}}" data-toggle="collapse" data-parent="#accordion" href="#{{semester.id}}">
				                <i class="glyphicon glyphicon-chevron-down"></i>
				            </span>
				            
				            <a data-toggle="collapse" data-parent="#accordion" href="#{{semester.id}}">{{semester}}</a>

				            <span class="pull-right" style="font-size:20px;">{{SGPA|get_item:semester}}</span>
				        </h4>
				    </div>
				    <div id="{{semester.id}}" class="panel-collapse panel-collapse collapse">
				        <div class="panel-body">
					        <div class="table-responsive">          
								<table class="table table-striped">
									<thead>
							 			<tr>
							        		<th>Module Code</th>
							        		<th>Module Name</th>
							        		<th>Module Credits</th>
							        		<th>Grade Received</th>
							      		</tr>
							    	</thead>
							    	<tbody>
							    		{% for module in performance|get_item:semester %}
								      		<tr>
								        		<td>{{module.module.moduleCode}}</td>
								        		<td>{{module.module.moduleName}}</td>
								        		<td>{{module.module.credit}}</td>
								        		<td>{{module.grade}}</td>
								      		</tr>
								      	{% endfor %}
							    	</tbody>
							 	</table>
							</div>
							<button type="button" class="btn btn-default" style="float:right;" data-toggle="modal" data-target="#Modal{{semester.id}}">Edit Data</button>
				        </div>
				        
				        <div class="panel-footer">
				        	<div class="modal fade" id="Modal{{semester.id}}" role="dialog">
						    	<div class="modal-dialog modal-lg">
						      		<div class="modal-content">
						    
						        		<div class="modal-header">
						          			<button type="button" class="close" data-dismiss="modal">&times;</button>
						          			<h4 class="modal-title">Set grades for {{semester}} | Current SGPA: <span id="SGPA{{semester.id}}">{{SGPA|get_item:semester}}</span></h4>
						        		</div>
						        		
						        		<div class="modal-body">
						          			<div class="table-responsive">          
												<table class="table table-striped" id="modalTable{{semester.id}}">
													<thead>
											 			<tr>
											        		<th>Module Code</th>
											        		<th>Module Name</th>
											        		<th>Module Credits</th>
											        		<th>Grade Received</th>
											      		</tr>
											    	</thead>
											    	<tbody>
											    		{% for module in performance|get_item:semester %}
												      		<tr>
												        		<td>{{module.module.moduleCode}}</td>
												        		<td>{{module.module.moduleName}}</td>
												        		<td>{{module.module.credit}}</td>
												        		<td>
													        		<select name={{module.module.moduleCode}} onchange="SGPA(this, 'SGPA{{semester.id}}');">
																		{% for grade in possibleGrades %}
																			{% if grade == module.grade %}
																				<option selected="selected" value="{{grade}}">{{grade}}</option>
																			{% else %}
																				<option value="{{grade}}">{{grade}}</option>
																			{% endif %}
																		{% endfor %}
																	</select>	  
																</td>
												      		</tr>
												      	{% endfor %}
											    	</tbody>
											 	</table>
											</div>
						        		</div>
						        		
						        		<div class="modal-footer">
          									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          									<button type="button" class="btn btn-default" data-dismiss="modal" onClick="submit(this);">Submit</button>
        								</div>
				        			</div>
				    			</div>
			    			</div>
			    		</div>
			    	</div>	
				</div>
			{% endfor %}
	  	</div>
  	</div>
</div>

<script>	
	/* This is for maintaining arrow in collapsials */
	{% for semester in semList %}
		$("#{{semester.id}}").on("hide.bs.collapse", function () {
		    $("#Arrow{{semester.id}}").find('i').removeClass("glyphicon-chevron-up").addClass("glyphicon-chevron-down");
		});
		
		$("#{{semester.id}}").on("show.bs.collapse", function () {
		    $("#Arrow{{semester.id}}").find('i').removeClass("glyphicon-chevron-down").addClass("glyphicon-chevron-up");
		});
	{% endfor %}
</script>



{% endblock %}

<!-- <div class=heading>
	<div class=left>
		<div style="text-align: center; margin-top: 5vh">
			<h1>PROFILE OF {{petName}} | {{index}}</h1>
			<span>Last viewed: {{last_viewed}}<span>
		</div>
	</div>
	<div class="right">
		<table>
			<tr>
				<td>Overall GPA: {{overallGPA}}</td>
				<td>&Sigma;(GPA_point x credits) / &Sigma;credits</td>
			</tr>
			<tr>
				<td>Overall GPA: {{SOGPA}}</td>
				<td>&Sigma;SGPA / no_of_semesters</td>
			</tr>
		</table>
	</div>
</div> -->
<!-- <div style="width:80vw; margin: auto;">
		<px-accordion icons='{"more":"px-utl:chevron-right","less":"px-utl:chevron","action":"px-utl:edit"}' header-value="{{semester}}" status="{{sem_gpa|get_item:semester}}">
		
			<div style="display: block;">
				<px-modal btn-modal-positive="Submit" btn-modal-negative="Cancel" modal-heading="{{semester}}">
					<button class='btn btn--primary modal-trigger'>Edit</button>
					<px-data-table table-data='{{sem_grades_modules|get_item:semester}}' language="en" sortable striped hide-pagination-control>
						<px-data-table-column name="Module Code" id="moduleCode">
						</px-data-table-column>
						<px-data-table-column name="Module Name">
						</px-data-table-column>
						<px-data-table-column name="Module Credits">
						</px-data-table-column>
					 	<px-data-table-column name="Grade" type="dropdown" dropdown-items='[{"val":"UNKNOWN","key":"UNKNOWN"}, {"val":"Non-GPA","key":"Non-GPA"}, {"val":"A+","key":"A+"}, {"val":"A","key":"A"}, {"val":"A-","key":"A-"}, {"val":"B+","key":"B+"}, {"val":"B","key":"B"}, {"val":"B-","key":"B-"}, {"val":"C+","key":"C+"}, {"val":"C","key":"C"}, {"val":"C-","key":"C-"}, {"val":"D","key":"D"}, {"val":"F","key":"F"}]'>
					 	</px-data-table-column>
				 	</px-data-table>
				</px-modal>
			</div>
			
			<div style="display: None;">
				<form action="/action_page.php" method="post">
				  	<input type="text" name="fname"><br>
				  	<input type="submit" value="Submit">
				</form>
			</div>
			
			<div style="display: block; width: 70vw; margin:auto;">
				<px-data-table table-data='{{sem_grades_modules|get_item:semester}}' language="en" sortable striped hide-pagination-control>
					<px-data-table-column name="Module Code">
					</px-data-table-column>
					<px-data-table-column name="Module Name">
					</px-data-table-column>
					<px-data-table-column name="Module Credits">
					</px-data-table-column>
					 <px-data-table-column name="Grade">
					 </px-data-table-column>
				 </px-data-table>
			 </div>
		</px-accordion>

		</div> -->

