{% extends 'header.html' %}

{% block content %}



<div class="container">
	<h2>Contact details</h2>
	
	<div style="font-size : 18">
		<p><strong>Name    : </strong>Akila D. Perera<p>
		<p><strong>E-mail  : </strong>akilamatrix@gmail.com<p>
		<p><strong>linkedin: </strong><a href="https://lk.linkedin.com/in/akiladperera">akiladperera</a></p>
		<p><strong>twitter : </strong><a href="https://twitter.com/akiladperera">@akiladperera</a></p>
		<p><strong>facebook: </strong><a href="https://www.facebook.com/akila.d.perera.1">akila.d.perera.1</a></p>
	</div>
	
</div>

{% endblock%}
