{% extends 'header.html' %}

{% block content %}
<style>
.contact_details{
}

.contact_details tr{
	line-height: 1.8;
}

.contact_details tr td:first-child{
	width: 100px;
	font-size:18px;
	font-weight: bold;
}
</style>

<div class="inner-body">
	<div class="container">
		<h1>Contact details</h1>
		
		<table class="contact_details">
			<tr>
				<td>Name</td>
				<td>Akila D. Perera</td>
			</tr>
			<tr>
				<td>E-mail</td>
				<td>akilamatrix@gmail.com</td>
			</tr>
			<tr>
				<td>linkedin</td>
				<td><a href="https://lk.linkedin.com/in/akiladperera">akiladperera</a></td>
			</tr>
			<tr>
				<td>twitter</td>
				<td><a href="https://twitter.com/akiladperera">@akiladperera</a></td>
			</tr>
			<tr>
				<td>facebook</td>
				<td><a href="https://www.facebook.com/akila.d.perera.1">akila.d.perera.1</a></td>
			</tr>	
		</table>
	</div>
</div>

{% endblock%}
