{% extends 'header.html' %}

{% block headImports %}
	{% load staticfiles %}
	
	

{% endblock %}


{% block content %}

<div class="inner-body">
	<div class="container">
		<h3><strong>Experience</strong></h3>
		
		<div class="container">
			<h3>Programmer at Fiverr (Fiverr.com)</h3>
			<p>Fiverr is a global online marketplace offering tasks and services, starting with at cost of 5$ per job performed, from which it gets its name. The fiverr website is the medium of connecting well skilled freelancers who are willing to offer their services to customers in worldwide.</p>
		</div>
		
		<div class="container">
			<h3>Undergraduate in University of Moratuwa</h3>
			<p>Studying computer science and engineering since 2014.</p>
		</div>

	</div>

	<div class="container">
		<h3><strong>Courses Followed</strong></h3>
		
		<div class="container">
			<h3>Python Data Structures - University of Michigan (Online)</h3>
			<p></p>
		</div>
		
		<div class="container">
			<h3>Programming for Everybody - University of Michigan (Online)</h3>
			<p></p>
		</div>
		
		<div class="container">
			<h3>Using Python to Access Web Data - University of Michigan (Online)</h3>
			<p></p>
		</div>
		
		<div class="container">
			<h3>Using Databases with Python - University of Michigan (Online)</h3>
			<p></p>
		</div>

	</div>
</div>
{% endblock%}
