{% extends 'header.html' %}

{% block content %}

<style>
img {
    float: right;
    border: 0px dotted black;
    margin: 0px 0px 10px 10px;
}
</style>
	
<div class="container">
  <h3>Projects</h3>
  <p><img src="/static/img/icon.png" class="img-responsive" >
  A navigation bar is a navigation header that is placed at the top of the page.dfg,m;ld,flgk;ldfklgk;l ';klfdg;l dkf;lkdfz g;lfkg ;kdz g;l zkf;ldfkg ;k ;lfk g;ldkf ;lkgfd;lkg;lkdf;lkg ;lkflg ;k;ldfkgl; kdflg
  </p>
</div>

{% endblock%}
