{% extends 'header.html' %}

{% block content %}

<style>
img {
    float: right;
    border: 0px dotted black;
    margin: 0px 0px 0px 0px;
}
</style>

<div class="container">
	<center>
		<H2><strong>PROJECTS</strong></H2>
	</center>
	<br>
</div>

	
<div class="container">
	<img src="/static/img/projects/java.png" class="img-responsive" height="200" width="200">
	<h3>Simulation of swimming competition(OOP, JAVA, UML)</h3>
	<h3><small>UOM - Individual Project | August 2015 to November 2015</small></h3>
	<p>
	As a semester project we were requested to develop simulation of swimming competition. 
	I had to make use of object oriented principles, MVC pattern, observer-observable concept and some other methods in order to develop this project successfully. I received high marks and a good comment for this project as a result of effective use of above mentioned principles.
	</p>
	<hr>
</div>

<div class="container">
	<img src="/static/img/projects/robo.png" class="img-responsive" height="200" width="200">
	<h3>Robot for Tug of War</h3>
	<h3><small>UOM - Group of five people | October 2015 to January 2016</small></h3>
	<p>
	This was a robot making project for tug of war competition as a module project. Group of five people consisted in a single team and team had to prepare an optimum robot solution within the given budget. Team spirit, leadership, coordination, responsibilities are some of soft skills which were developed while improving technical knowledge such as concept of torque,  power management, handling friction etc.
	</p>
	<hr>
</div>

<div class="container">
	<img src="/static/img/projects/ISE.png" class="img-responsive" height="200" width="200">
	<h3>Nano-Processor</h3>
	<h3><small>UOM - Group of three people | August 2015 to November 2015</small></h3>
	<p>
	In this project we simulated a 4-bit processor capable of executing 4 instructions. Those instructions are data moving operation, addition operation, taking two's complement and Jumping within the instructions. We implemented this processor on Xilinx Spartan-3E Field Programmable Gate Array and we used ISE design suite software to program it.  
	</p>
	<hr>
</div>

<div class="container">
	<img src="/static/img/projects/pyexcel.png" class="img-responsive" height="200" width="200">
	<h3>Matching tutors and students</h3>
	<h3><small>Fiverr buyer from USA | 10th April 2016 requested</small></h3>
	<p>
	I did this project to a community learning center. Buyer needed to automate one of major processes in learning center which is assigning tutors to students according to students' preferences. So buyer asked me to provide a python code which extracts data from .csv file and output the processed result into a new .csv file. Here the most challenging part was, identifying his real requirement because we cannot ideally match all the students and tutors according to each student's preferences at all the time. Skills that were used in here are communication skills, python exception handling, file handling, string formatting, regular expressions. 
	</p>
	<hr>
</div>

<div class="container">
	<img src="/static/img/projects/python.png" class="img-responsive" height="200" width="200">
	<h3>Alaska card game</h3>
	<h3><small>Fiverr buyer from USA | 20th April 2016 requested</small></h3>
	<p>
	Here, I had to implement a card game name, Alaska. This project also based on python language but this was requested to program using object oriented programming concepts. First I had to study the game and to understand the process. After that I could be able to design the program.
	</p>
	<hr>
</div>

<div class="container">
	<img src="/static/img/projects/pandas.png" class="img-responsive" height="200" width="200">
	<h3>Program optimization</h3>
	<h3><small>Fiverr buyer from Singapore | 12th July 2016 requested</small></h3>
	<p>
	This was not a project. Here, buyer requested me to optimize a part of his python2 program which takes 11.6 seconds to execute. I could be able to optimize his code to run in 0.026 seconds. Knowledge of temporal and spatial locality, knowledge of pandas library and its data-frames were the key things for the success.
	</p>
	<hr>
</div>

<div class="container">
	<img src="/static/img/projects/dataframe.png" class="img-responsive" height="200" width="200">
	<h3>Power consumption analyzing project</h3>
	<h3><small>Fiverr buyer from United Kingdom | 8th July 2016 requested</small></h3>
	<p>
	This was a very complex data analyzing project. Here, buyer came up with a data set of power consumption of each hour on each day of each year. So I had to properly handle those data and find out following things. 
	They are <strong>correlation of each day of the week</strong>, <strong>correlation between each hours</strong> and <strong>correlation of each day of the week in month-wise</strong>.
	After finding out the above information, he expected me to put those information into error graphs. Used technologies were, anaconda2 python distribution, spyder2 IDE, python pandas, matplotlib, etc.
	</p>
</div>

{% endblock%}
